<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plantdatabase.example.plantdatabase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mygreenthumb"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="plantdatabase.example.plantdatabase.peace_lily"></activity>
        <activity android:name="plantdatabase.example.plantdatabase.tuberous_begonia" />
        <activity android:name="plantdatabase.example.plantdatabase.impatiens" />
        <activity android:name="plantdatabase.example.plantdatabase.deadnettle" />
        <activity android:name="plantdatabase.example.plantdatabase.lucky_bamboo" />
        <activity android:name="plantdatabase.example.plantdatabase.zz_plant" />
        <activity android:name="plantdatabase.example.plantdatabase.corn_plant" />
        <activity android:name="plantdatabase.example.plantdatabase.devils_ivy" />
        <activity android:name="plantdatabase.example.plantdatabase.boat_orchid" />
        <activity android:name="plantdatabase.example.plantdatabase.coleus" />
        <activity android:name="plantdatabase.example.plantdatabase.dumbcane" />
        <activity android:name="plantdatabase.example.plantdatabase.parlourpalm" />
        <activity android:name="plantdatabase.example.plantdatabase.chinese_evergreen" />
        <activity android:name="plantdatabase.example.plantdatabase.prayerplant" />
        <activity android:name="plantdatabase.example.plantdatabase.bostonfern" />
        <activity android:name="plantdatabase.example.plantdatabase.heartleafphilodendron" />
        <activity android:name="plantdatabase.example.plantdatabase.crocus" />
        <activity android:name="plantdatabase.example.plantdatabase.fuchsia" />
        <activity android:name="plantdatabase.example.plantdatabase.bushlily" />
        <activity android:name="plantdatabase.example.plantdatabase.poinsettia" />
        <activity android:name="plantdatabase.example.plantdatabase.jade_plant" />
        <activity android:name="plantdatabase.example.plantdatabase.burrostailplant" />
        <activity android:name="plantdatabase.example.plantdatabase.money_tree" />
        <activity android:name="plantdatabase.example.plantdatabase.spider_plant" />
        <activity android:name="plantdatabase.example.plantdatabase.kalanchoe" />
        <activity android:name="plantdatabase.example.plantdatabase.snapdragon" />
        <activity android:name="plantdatabase.example.plantdatabase.anthurium" />
        <activity android:name="plantdatabase.example.plantdatabase.swan_river_daisy" />
        <activity android:name="plantdatabase.example.plantdatabase.aloe_vera" />
        <activity android:name="plantdatabase.example.plantdatabase.birdsnestfern" />
        <activity android:name="plantdatabase.example.plantdatabase.croton" />
        <activity android:name="plantdatabase.example.plantdatabase.string_of_pearls" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_8_sm_yfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_8_la_yfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_7_sm_nfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_7_la_nfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_6_sm_yfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_6_la_yfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_5_sm_nfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_5_la_nfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_4_sm_yfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_4_la_yfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_3_sm_nfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_3_la_nfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_2_sm_yfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_2_la_yfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_1_sm_nfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._6Live_from_1_la_nfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from4nfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from4yfl_da_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from3nfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from3yfl_da_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from2nfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from2yfl_br_noatten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from1nfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._5Size_from1yfl_br_atten" />
        <activity android:name="plantdatabase.example.plantdatabase._4Flowers_fromda_noatten4" />
        <activity android:name="plantdatabase.example.plantdatabase._4Flowers_fromda_atten3" />
        <activity android:name="plantdatabase.example.plantdatabase._4Flowers_frombr_noatten2" />
        <activity android:name="plantdatabase.example.plantdatabase._4Flowers_frombr_atten1" />
        <activity android:name="plantdatabase.example.plantdatabase._3Attention_fromdark" />
        <activity android:name="plantdatabase.example.plantdatabase._3Attention_frombright" />
        <activity android:name="plantdatabase.example.plantdatabase._2Light" />
        <activity android:name="plantdatabase.example.plantdatabase._1MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>