<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantdatabase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mygreenthumb"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".peace_lily"></activity>
        <activity android:name=".tuberous_begonia" />
        <activity android:name=".impatiens" />
        <activity android:name=".deadnettle" />
        <activity android:name=".lucky_bamboo" />
        <activity android:name=".zz_plant" />
        <activity android:name=".corn_plant" />
        <activity android:name=".devils_ivy" />
        <activity android:name=".boat_orchid" />
        <activity android:name=".coleus" />
        <activity android:name=".dumbcane" />
        <activity android:name=".parlourpalm" />
        <activity android:name=".chinese_evergreen" />
        <activity android:name=".prayerplant" />
        <activity android:name=".bostonfern" />
        <activity android:name=".heartleafphilodendron" />
        <activity android:name=".crocus" />
        <activity android:name=".fuchsia" />
        <activity android:name=".bushlily" />
        <activity android:name=".poinsettia" />
        <activity android:name=".jade_plant" />
        <activity android:name=".burrostailplant" />
        <activity android:name=".money_tree" />
        <activity android:name=".spider_plant" />
        <activity android:name=".kalanchoe" />
        <activity android:name=".snapdragon" />
        <activity android:name=".anthurium" />
        <activity android:name=".swan_river_daisy" />
        <activity android:name=".aloe_vera" />
        <activity android:name=".birdsnestfern" />
        <activity android:name=".croton" />
        <activity android:name=".string_of_pearls" />
        <activity android:name="._6Live_from_8_sm_yfl_da_noatten" />
        <activity android:name="._6Live_from_8_la_yfl_da_noatten" />
        <activity android:name="._6Live_from_7_sm_nfl_da_noatten" />
        <activity android:name="._6Live_from_7_la_nfl_da_noatten" />
        <activity android:name="._6Live_from_6_sm_yfl_da_atten" />
        <activity android:name="._6Live_from_6_la_yfl_da_atten" />
        <activity android:name="._6Live_from_5_sm_nfl_da_atten" />
        <activity android:name="._6Live_from_5_la_nfl_da_atten" />
        <activity android:name="._6Live_from_4_sm_yfl_br_noatten" />
        <activity android:name="._6Live_from_4_la_yfl_br_noatten" />
        <activity android:name="._6Live_from_3_sm_nfl_br_noatten" />
        <activity android:name="._6Live_from_3_la_nfl_br_noatten" />
        <activity android:name="._6Live_from_2_sm_yfl_br_atten" />
        <activity android:name="._6Live_from_2_la_yfl_br_atten" />
        <activity android:name="._6Live_from_1_sm_nfl_br_atten" />
        <activity android:name="._6Live_from_1_la_nfl_br_atten" />
        <activity android:name="._5Size_from4nfl_da_noatten" />
        <activity android:name="._5Size_from4yfl_da_noatten" />
        <activity android:name="._5Size_from3nfl_da_atten" />
        <activity android:name="._5Size_from3yfl_da_atten" />
        <activity android:name="._5Size_from2nfl_br_noatten" />
        <activity android:name="._5Size_from2yfl_br_noatten" />
        <activity android:name="._5Size_from1nfl_br_atten" />
        <activity android:name="._5Size_from1yfl_br_atten" />
        <activity android:name="._4Flowers_fromda_noatten4" />
        <activity android:name="._4Flowers_fromda_atten3" />
        <activity android:name="._4Flowers_frombr_noatten2" />
        <activity android:name="._4Flowers_frombr_atten1" />
        <activity android:name="._3Attention_fromdark" />
        <activity android:name="._3Attention_frombright" />
        <activity android:name="._2Light" />
        <activity android:name="._1MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>